<section class="header-static">
    <div class="inner">
      <header>
        <h2>My subscriptions</h2>
        <h3>Welcome, <%=@user['name']%> <img src="<%=@user['raw']['image']['url']%>" class="twitter-header-profile-img"> </h3>
      </header>
    </div>
</section>
<section class='section'>
  <div class="inner user-form" id="my-gfw">

  </div>
</section>
