<header>
  <nav class="noselect">
    <ul>
      <li id="countries-tab-button" class="tab" data-tab="countries-tab"><span class="tooltipmap">Country data</span><svg class="icon"><use xlink:href="#icon-tab-countries"></use></svg></li>
      <li id="analysis-tab-button" class="tab" data-tab="analysis-tab"><span class="tooltipmap">Analysis</span><svg class="icon"><use xlink:href="#icon-tab-analysis"></use></svg></li>
      <li id="subscription-tab-button" class="tab" data-tab="subscription-tab"><span class="tooltipmap">Subscription</span><svg class="icon"><use xlink:href="#icon-tab-alerts"></use></svg></li>
      <li id="basemaps-tab-button" class="tab" data-tab="basemaps-tab"><span class="tooltipmap">Base map</span><svg class="icon"><use xlink:href="#icon-tab-basemap"></use></svg></li>
      <li id="hd-tab-button" class="tab" data-tab="hd-tab"><span class="tooltipmap">high-res imagery</span><svg class="icon"><use xlink:href="#icon-tab-highresolution"></use></svg></li>
    </ul>
  </nav>
</header>
<div class="content">
  <div id="tab-spinner" class="spinner2-box"><div id="spinner2" class="spinner2"></div></div>
  <div id="analysis-subscribe" class="analysis-subscribe"></div>
  <ul>
    <li id="analysis-tab" class="tab-content"></li>
    <li id="countries-tab" class="tab-content"></li>
    <li id="subscription-tab" class="tab-content"></li>
    <li id="basemaps-tab" class="tab-content"></li>
    <li id="hd-tab" class="tab-content"></li>
  </ul>
</div>
